*{ margin: 0; padding: 0; }

.text-center{ text-align: center; }

/*         */ /*         */ /*         */
/*         */ /* Nav Bar */ /*         */
/*         */ /*         */ /*         */

.col-md-1{ transition: color .6s, transform .6s; }

.col-md-1:hover{
    color: #ff0000;
    cursor: pointer;
    transform:translate(2px, 2px); }

.col-md-1::after{
    content: '';
    display: block;
    width: 0; height: 2px;
    background: #ff0000;
    transition: width .6s; }

.col-md-1:hover::after{ width:90%; }

.nav-links{ font-size: 1vw; }


.logo{
    font-size: 25px; font-weight: 610; font-family: fantasy;
    letter-spacing: .5vw;
    border-radius: 30px; }


/*         */ /*                   */ /*         */
/*         */ /*   Under Nav Bar   */ /*         */
/*         */ /*                   */ /*         */


.j-women{
    letter-spacing: .4vw;
    background-color: #e067eb;
    border-left: #ffffff 3px solid; }

.j-men{
    letter-spacing: .4vw;
    background-color: #509ce2;
    border-right: #ffffff 3px solid; }

@media only screen and (max-width:800px){
    .j-men, .j-women{ border: none; }
    .j-men{ margin-bottom: 3px; } }




/*         */ /*                     */ /*         */
/*         */ /*   Heading Section   */ /*         */
/*         */ /*                     */ /*         */

.j-img{
    width: 100%; height: 90vh;
    filter: brightness(80%);
    z-index: -1; }

.j-heading{
    font-family: 'Montserrat', sans-serif;
    position: absolute; top: 30vh; left: 20vw;
    width: 60%; margin: auto;
    text-align: center; }

.j-heading h1{  font-size: 4.5vw; font-weight: 600; letter-spacing: .4vw; }

.j-container{ width:100%; position: relative; } .j-text{ color: #e067eb }

.j-btn{ border: 2px rgb(255, 255, 255) solid !important; }

.j-btn:hover{ border: 2px rgb(202, 190, 190) solid !important; }





/*         */ /*                      */ /*         */
/*         */ /*   Products Section   */ /*         */
/*         */ /*                      */ /*         */

.product-container{ width: 75%; margin: auto; }

.j-section{ padding-top: 20px; }

/* ProductImages */
.product-img{
    width: 100%; height: 32vh;
    filter: brightness(110%);
    z-index: -1; }

.j-product{ padding: 20px;}

.product-footer{ border: 2px black solid; padding: .7vw; }

.product-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(252, 252, 252) }

.product-heading{ 
    font-weight: 500; letter-spacing: .1vw; font-size: 25px;
    padding: 5px 0px;
    grid-column: 1/5; }

.product-details{
    grid-column: 1/4;
    font-weight: 300; font-size: 16px; }

.product-price{ font-size: 20px; }

.product-buy{ 
    grid-column: 1/5; width: 60%;
    margin: 13px auto;  padding: 6px;
    background-color: white;
    border: black solid 2px;
    font-size: 20px; font-weight: 600;
    letter-spacing: .1vw; text-transform: uppercase; 
    transition: background-color .3s, color .3s;}

.product-buy:hover{ background-color: black; color:white; }



/*         */ /*                    */ /*         */
/*         */ /*   Footer Section   */ /*         */
/*         */ /*                    */ /*         */

.footer{
    width: 80%; margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2vh;
    color: white;
    justify-items: center;
    padding-top: 3vh; }

.footerHeading{
    font-size: 2vw; color: coral;
    padding-bottom: 1vh; }

.footerContent{ font-size:1.1vw; }

.footerContent:hover{  cursor: pointer;  color: red; }

.footerText{ font-size: 1.1vw; }

.footerFooter{ grid-column: 1/5; text-align: center; margin-top: 2.7vh; }

.socialLinks{ font-size: 1.3vw; }



/*         */ /*                           */ /*         */
/*         */ /*   DeliveryAndReturnPage   */ /*         */
/*         */ /*                           */ /*         */

.delivery{ padding: 1vh 0; margin-top: 2vh; }

.deliveryHeader{ padding-bottom: 3vh; color: coral;}

.deliveryTextHeading{ 
    font-size: 3vh; font-weight: 650; 
    color: coral;
    padding: 0px 10px;}

.deliveryContent{ padding-bottom: 3vh; }

.deliveryText{ 
    list-style-type: none;
    font-size: 1.9vh;
    letter-spacing: .3vh; }
 
.deliveryContainer{
    width: 37%; margin: auto; text-align: center; 
    padding-top: 2vh; }


